.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App{
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  margin:40px;
}

.card {
  min-height: 350px; /* Sesuaikan tinggi sesuai kebutuhan Anda */
}
.card:hover {
  background-color: #f0f0f0; /* Ubah warna latar belakang saat di hover */
  /* Tambahkan gaya lain yang Anda inginkan */
}
.small-image {
  width: 30%; /* Menetapkan lebar gambar menjadi 30% */
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}


.container {
  margin: 0 auto;
  width: 780px;
  /* height: 640px; */
  /* background: #F0F0ED; */
  border-radius: 5px;
  position: relative;
}

.hero {
  height: max-content;
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
}

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  /* background:blue; */
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_bg.jpg"); */
  z-index:-1;
  /* transform: skewY(-2.2deg);
  transform-origin:0 0; */
  -webkit-backface-visibility: hidden;
}

.cover {
  position: absolute;
  top: 200px;
  left: 50px;
  z-index: 2;
  /* height:330px; */
  width: 200px;
  margin-bottom:30px;
  padding-bottom:10px;
}

.details {
  padding: 190px 0 0 280px;
}

.fav{
  background-color: rgb(213, 211, 211);
  width: fit-content;
  padding:5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.description {
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
}

.column1 {
  padding-left: 50px;
  padding-top: 120px;
  max-width: fit-content;
  float: left;
  text-align: center;
  margin-top: 30px;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
  border-color:#444a54;
  border-width: 1px;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
  float: left;
  text-align: justify;
}

.avatars {
  margin-top: 23px;
}

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}
.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-weight: bold;
}

.title2 {
  color: white;
  font-size: 23px;
  font-weight: 300;
  margin-top:20px;
  margin-bottom:10px;
  background-color: grey;
  width:fit-content;
  border-radius: 30px;
  padding: 10px;
  /* margin-bottom: 15px; */
}

section.new_index {
  background-image: url('./assets/welcome-banner.jpg');
  height: 300px;
  color: white;
  display: flex;
  align-items: center; /* Memusatkan elemen secara vertikal */
  justify-content: center; /* Memusatkan elemen secara horizontal */
}

.carousel-container{
  margin:80px
}